@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

:root {
  --color-white: #f3f3f3;
  --color-lightblue: #6161f0;
  --color-darkblue-alpha: rgba(53, 53, 119, 0.8);
  --color-blue: #7696ec;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: var(--color-white);
  margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--color-lightblue);
  
}

h1 {
  font-weight: 400;
  line-height: 1.2;
}

p {
  font-size: 20px;
}

h1,
p {
  margin-top: 0;
  margin-bottom: 5px;
}

label {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 5px;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  border: none;
}

.container {
  width: 100%;
  margin: 10px auto 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

.header {
  padding: 0 3px;
  margin-bottom: 30px;
}

.description {
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.text-center {
  text-align: center;
}



form {
  background: var(--color-darkblue-alpha);
  padding: 30px 10px;
  border-radius: 5px;
}

@media (min-width: 480px) {
  form {
    padding: 35px;
  }
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 38px;
  padding: 6px 10px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-radio,
.input-checkbox{
  display: inline-block;
  margin-right: 10px;
  min-height: 15px;
  min-width: 15px;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 10px;
  resize: vertical;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: var(--color-blue);
  color: inherit;
  border-radius: 5px;
  cursor: pointer;
}